{% extends 'base.html' %}

{% block body %}


<div class="form_area">
    <div class="form-container">
        <form action="/" method="POST">

            <div class="input-group">
                <input type="text" id="bus_name" name="bus_name" placeholder="BUS NAME">

            </div>
            <div class="drop-down-select" style="display: flex; margin: 10px;">
                <select name="initial-location" class="search-box">
                    <option selected hidden value="">YOUR LOCATION</option>
                    <option value="Badmer">Badmer</option>
                    <option value="Bikaner">Bikaner</option>
                    <option value="Jodhpur">Jodhpur</option>
                    <option value="Jaipur">Jaipur</option>
                    <option value="Jaiselmer">Jaiselmer</option>
                    <option value="KOta">Kota</option>
                </select>

                <select name="initial-location" class="search-box">
                    <option selected hidden value="">DESTINATION</option>
                    <option value="Badmer">Badmer</option>
                    <option value="Bikaner">Bikaner</option>
                    <option value="Jodhpur">Jodhpur</option>
                    <option value="Jaipur">Jaipur</option>
                    <option value="Jaiselmer">Jaiselmer</option>
                    <option value="KOta">Kota</option>
                </select>
            </div>
            <div class="submit-reset" style="display: flex; flex-direction: row; justify-content: center;">

                <button type="submit" class="submit-btn my-3 mx-2">Submit</button>
                <button type="reset" class="submit-btn my-3 mx-2">Reset</button>
            </div>
    </div>

    </form>
</div>
</div>


<table class="table" style="min-height: 20vh;">

    <thead>
        <tr>
            <th scope="col">Bus Number</th>
            <th scope="col">USERNAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">FIRST NAME</th>
            <th scope="col">LAST NAME</th>
        </tr>
    </thead>
    <tbody>
        {% for bus in bus %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{bus.username}}</td>
            <td>{{bus.email}}</td>
            <td>{{bus.first_name}}</td>
            <td>{{bus.last_name}}</td>


        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}